Pada notebook ini akan dibuat model Logistic Regression untuk memprediksi calon pembeli apakah akan membeli setelah melihat iklan sebuah produk

**Mengimport Dataset**

In [1]:
import pandas as pd

#membaca dataset dan mengubahnya menjadi dataframe
df = pd.read_csv("Social_Network_Ads.csv")

**Melihat Isi Dataset**

Selanjutnya yaitu melihat isi dari dataset dengan menggunakan fungsi head()

In [2]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

Untuk melihat apakah terdapat nilai kosong pada setiap atribut, dapat menggunakan fungsi info()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB